*{margin:2;}

body{
	background:gray
	repeat-x;
}
.producto{
	width: 20%;
	height: auto;
	background: white;
    border-radius: 20px;
    opacity: 0.8;
	
	display: inline-block;
	vertical-align: top;
	margin-left: 1.5%;
	margin-top: 1%;
	color: #4a4a4a;
	font-weight: bolder;
	font-size: 1.2rem;
	padding: 1%;
	-webkit-box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(240, 240, 240, 0.75);
	box-shadow:         0px 0px 10px rgba(240, 240, 240, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-webkit-box-shadow: 4px 5px 4px 4px #8FFFB4;
	box-shadow: 4px 5px 4px 4px #8FFFB4;
}
.producto:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);/**/
}
.producto img{
	width: 200px;
	height: 200px;
	margin:0 auto;
	border-radius: 28%;
/*	-webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
	box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;*/
}

.producto a{
	background-color: #4a4a4a;
	padding: 3px;
	color: white;
	width: 50%;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
}