
*{margin:0;}

#logo{
   width: 20%;
   margin-top: 16px;
}

#left{
   width: 45%;
   float: left;
   padding: 30px;
}

#right{
   width: 45%;
   float: right;
   padding: 30px;
}

#left2{
   width: 60%;
   float: left;
   padding: 30px;
}

#right2{
   width: 35%;
   float: right;
   padding: 30px;
}

#Nohay{
   color: rgba(8, 8, 8, 0.64);
   margin-left: 60px;
}


.producto{
   width: auto;
   background: white;
    border-radius: 22px;
    opacity: 0.8;
   
   display: inline-block;
   vertical-align: top;
   margin-left: 1%;
   margin-top: 1%;
   color: #4a4a4a;
   font-weight: bolder;
   font-size: 1.2rem;
   padding: 1%;
   -webkit-box-shadow: 0px 0px 10px rgba(240, 240, 240, 0.75);
   -moz-box-shadow:    0px 0px 10px rgba(240, 240, 240, 0.75);
   box-shadow:         0px 0px 10px rgba(240, 240, 240, 0.75);
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -webkit-box-shadow: 5px 5px 25px 8px #8FFFB4;
   box-shadow: 5px 5px 25px 8px #8FFFB4;
}

.producto img{
   width: 125px;
   margin:0 auto;
   border-radius: 35%;
/* -webkit-box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.75);
   -moz-box-shadow:    0px 0px 10px rgba(74, 74, 74, 0.75);
   box-shadow:         0px 0px 10px rgba(74, 74, 74, 0.75);
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;*/
}

.producto a{
   background-color: #4a4a4a;
   padding: 3px;
   color: white;
   width: 50%;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 4px;
}

#ordenes{
  padding: 2%;
}


@media only screen and (max-width:700px){
/*
  .tags{
    float:left;
    width:100%;
  }
  .tags button{
    width:100%;
    background:#000;
    color:#fff;
    border:solid 2px #000;
    margin-bottom:10px;
  }
  .op{  
    width:100%; 
    margin:0;
  }

  .op img{
    width:100%;
  }
  nav{
    display:none;
  }
*/

}  

                        /************************* |MENU| ***************************/
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}  */
                        /************************* |MENU| ***************************/


